/cache
.curseclient
/.mixin.out
command_history.txt
/xaero/world-map
/xaero/minimap
user-prefs.json
usercache.json
usernamecache.json
/shaderpacks
/screenshots
/saves
/resourcepacks
/mods
/logs
/local
/downloads
/fancymenu_data
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
data/fabricDefaultResourcePacks.dat
/crash-reports
